body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding: 0;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    height: 350px;
    flex-shrink: 0;
}

.navbar {
    display: flex;
    flex: auto;
    flex-direction: row;
    justify-content: space-between;
    background-color: #1F2937;
    color: white;
    padding: 16px;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
}

.logo img{
    height: 80px;
}

.list {
    list-style: none;
    display: flex;
    gap: 16px;
    padding: 32px;
    padding-right: 75px;
    font-size: 20px;
}

a {
    text-decoration: none;
    color: white;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    padding-top: 50px;
    padding-bottom: 100px;
    gap: 50px;
    color: white;
}

.hero h1 {
    font-size: 48px;
    margin-bottom: -.3px;
}

button {
    background-color: #3882F6;
    color: white;
    padding: 7px;
    border: 0;
    border-radius: 8px;
    width: 100px;
}

.mainpic img{
    height: 350px;
    border: 4px solid black;
    border-radius: 10px;
}

h2 {
    font-size: 36px;
    color: #1F2937;
    font-weight: bold;
    padding: 26px;
}

.keyboardpics {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 10px;
}

.keyboardpics p {
    font-size: 18px;
}

.keyboardpics img{
    height: 250px;
    width: 400px;
    object-fit: cover;
    border: 4px solid #1F2937;
    border-radius: 10px;
    margin: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 0px;
    transition: 1s ease;
}

.keyboardpics img:hover{
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    transition: 1s ease;
}

.quote {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    color: #1F2937;
    padding: 30px;
}

.quote p {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    line-height: 200%;
}

.quote span {
    text-align: right;
    font-size: 32px;
    font-weight: bold;
    padding-bottom: 30px;
    padding-right: 30px;
}

.sign-up {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3882F6;
    padding: 15px;
    gap: 100px;
    margin: 100px 200px 100px 200px;
    border-radius: 15px;
    color: #E5E7EB;
}

.signtext h3{
    font-size: 30px;
    margin-bottom: -2px;
    text-align: left;
}

.signtext p{
    font-size: 20px;
    text-align: left;
}

.signbutton button {
    border: 2px solid #E5E7EB;
    padding: 7px;
    border-radius: 5px;
    width: 100px;
    font-size: 20px;
    width: 150px;
}